
/* użyteczne przy trybie dziennym / nocnym */
:root {
  --bg-color: #fff;
  --primary-color: goldenrod;
  --active-color: var(--primary-color);
}


/* Prettier Ctrl + Shift + X */

h1 {
  color: burlywood;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  min-width: 200px;
}


.row  {
  display: flex;
  justify-content: space-between;
}

.row .col {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.left-menu.col{
  max-width: 190px;
}

.main-content.col {
  flex-grow: 4;
}

.image-right {
  margin-left: auto;
  margin-right: auto;
}
.clearfloat::after {
  clear: both;
  display: block;
  content: "";
}

.navbar-top * {
  font-size: large;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
}

.search {
  color: black;
}

li.active > a {
  color: purple;
}

/* MENU */

.active_menu {
  /* left: 0; */
  /* top: 100%; */
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  background: lightgray;
  width: 100%;
  padding: 0;
}

.navbar-top > ul {
  margin-top: 200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #fffa;
}

.navbar-top ul li {
  padding: 1em;
}

.navbar-top a:hover {
  color:rgb(233, 98, 1);
  text-decoration: underline;
}

.navbar-top li:hover {
  background-color: lightgray;
}

/* Size table */
table tbody > tr:nth-child(1){
  background-color: gray;
}

/* Navbar background image */
.nav-bg {
  background-image: url(img/logo_2_big.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Sub Menu */

.navbar-top ul li {
  position: relative;
}

ul ul li:hover ul {
  left: 100%;
  top: 0;
  
}

.navbar-top ul ul {
  left: 0;
  top: 100%;
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  background: lightgoldenrodyellow;
  width: 100%;
}

.navbar-top  {
  width: 100%;
  padding: 1em;
}

.navbar-top li:hover > ul {
  display: block;
}

/* Footer */


/* Media - printing */

@media print {
  header {display: none; }
  footer {display:inline-block}
  .main-content.col a, table {display: none;}
  a:after {
    content: " (" attr(href) ")";
  }
}