header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
/* Top menu */
.top-menu {
    height: 10vh;
    background-color: rgba(221, 208, 208, 0.747);
}

.top-menu-list {
    display: flex;
    justify-content: space-between;
}

.top-menu-item {
    width: 180px;
    /* min-width: 80px; */
    flex-grow: 1;
    list-style: none;
    position: center;
}

.top-menu-item a {
    text-decoration: none;
}

/* Hidden menu  */
.hidden-menu {
    height: 10vh;
    background-color: rgba(180, 123, 123, 0.747);
}

/* Hidden menu all */
.hidden-nav{
    display: flex;
    justify-content: flex-start;
}

/* .hidden-menu-item { */
    /* width: 150px; */
    /* min-width: 70px; */
/* } */

/* Hidden menus for category */
#hidden-menu-1 {
    display: none;
}
#hidden-menu-2 {
    display: none;
}
#hidden-menu-3 {
    display: none;
}
#hidden-menu-4 {
    display: none;
}
#hidden-menu-5 {
    display: none;
}