/* GRID template */

body {
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 0.1fr 1fr 3fr 0.1fr;
    grid-auto-rows: minmax(250px, auto);
    grid-template-areas: 
    "header header header header"
    ". left-content right-content ."
    ". footer footer .";
    gap: 4px;
}

header {
    grid-area: header;
    background-color: lightblue;
    position: static;
}

.left-content {
    grid-area: left-content;
    background-color: darkcyan;
}

.right-content {
    grid-area: right-content;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: darkkhaki;
}

/* TOP MENU */

.navbar-top * {
    font-size: large;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
}

.active_menu {
    /* left: 0; */
    /* top: 100%; */
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
    background: lightgray;
    width: 100%;
    padding: 0;
  }

  .navbar-top > ul {
    margin-top: 200px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #fffa;
  }
  
  .navbar-top ul li {
    position: relative;
  }

  .navbar-top ul li:hover ul {
    display: block;
  }
  
  .navbar-top a:hover {
    color:rgb(233, 98, 1);
    text-decoration: underline;
  }
  
  .navbar-top li:hover {
    background-color: lightgray;
  }  