body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.3;
    /* color: #090909; */
    background: #fff;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    color: #333333;
}


/* Top menu */
.top-menu {
    height: auto;
    border: 1px solid #d0d0d0;
    border-width: 1px 0;
    margin: 6px 0 0 0;
}

.top-menu-list {
    display: flex;
    justify-content: space-between;
}

.top-menu-item {
    width: 180px;
    /* min-width: 80px; */
    flex-grow: 1;
    list-style: none;
    position: center;
}

.top-menu-item a {
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0 auto;
    width: 100%;
    font-weight: 500;
}

/* Hidden menu  */
.hidden-menu {
    height: 30vh;
    background: #f7f7f7;
}

.hidden-menu-item > li {
    list-style: none;
}

.hidden-menu-item > li > a {
    text-decoration: none;
    color: #090909;
    font-weight: 100;
    font-size: 0.7rem;
}

/* Hidden menu all */
.hidden-nav {
    display: flex;
    justify-content: flex-start;
}

/* .hidden-menu-item { */
    /* width: 150px; */
    /* min-width: 70px; */
/* } */

/* Hidden menus for category */
#hidden-menu-1 {
    display: none;
}
#hidden-menu-2 {
    display: none;
}
#hidden-menu-3 {
    display: none;
}
#hidden-menu-4 {
    display: none;
}
#hidden-menu-5 {
    display: none;
}